<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>{% block title %} - FLASK_SNS{% endblock %}</title>
        <meta charset="utf-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    </head>

    <nav>
        <ul>
            <li><a href="{{url_for('login')}}">ログイン</a></li>
        </ul>
    </nav>
    <body>
        <div class="container">
        {% block container %}
        {% endblock %}
        </div>
    </body>
</html>
